{% extends 'base.html.twig' %}

{% block title %}StockExpense{% endblock %}

{% block body %}
    <h1>StockExpense</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stock_expense.id }}</td>
            </tr>
            <tr>
                <th>Expence</th>
                <td>{{ stock_expense.expence }}</td>
            </tr>
            <tr>
                <th>Reason</th>
                <td>{{ stock_expense.reason }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ stock_expense.date }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('stock_expense_index') }}">back to list</a>

    <a href="{{ path('stock_expense_edit', {'id': stock_expense.id}) }}">edit</a>

    {{ include('stock_expense/_delete_form.html.twig') }}
{% endblock %}
